* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #111111;
  --color-bg: #FFF;
  --color-card-bg: rgba(0, 0, 0, 0.05);
  --color-button-bg: rgba(17, 17, 17, 0.05);
}
:root .light {
  display: block;
}
:root .dark {
  display: none;
}

:root[data-theme=dark] {
  --color-text: #FFF;
  --color-bg: #111111;
  --color-card-bg: rgba(255, 255, 255, 0.05);
  --color-button-bg: rgba(255, 255, 255, 0.05);
}
:root[data-theme=dark] .dark {
  display: block;
}
:root[data-theme=dark] .light {
  display: none;
}

noscript {
  background: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 24;
}
noscript h1 {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-size: 1.4rem;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
  color: #111111;
  color: var(--color-text);
  background-color: #FFF;
  background-color: var(--color-bg);
}

h1, h2, h3, p.main, .button {
  font-family: "Syncopate", sans-serif;
  text-transform: lowercase;
  font-weight: 700;
}

h1 {
  background-color: #ADFF11;
  padding: 5px 15px;
  font-size: 1.6rem;
  border-radius: 20px;
  align-items: center;
  color: #111111;
  width: fit-content;
}

h2 {
  font-size: 1.5rem;
  background-color: var(--color-card-bg);
  padding: 5px 15px;
  border-radius: 20px;
  width: fit-content;
  display: table;
}

h3 {
  font-size: 1.4rem;
}

p {
  line-height: 2;
}

canvas {
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.hero p.main {
  font-family: "Syncopate", sans-serif;
  font-size: 5rem;
  font-size: 7vw;
  line-height: 1.4;
}
.hero p.sub {
  font-size: 1.6rem;
}

.button {
  background-color: rgba(17, 17, 17, 0.05);
  background-color: var(--color-button-bg);
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  display: inline-flex;
  align-items: center;
}
.button:hover {
  background-color: var(--color-bg);
}
.button img, .button svg {
  height: 1.2em;
  width: auto;
}

.container {
  padding: 40px 0px;
  margin: auto;
  width: 90%;
  max-width: 1100px;
}
.container .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .site-header h1 {
  display: flex;
  box-shadow: 5px 10px 24px rgba(173, 255, 17, 0.2);
}
.container .site-header h1 img {
  height: 1em;
  margin-right: 5px;
}
.container .site-header .toggle-theme {
  background-color: rgba(17, 17, 17, 0.05);
  background-color: var(--color-button-bg);
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #111111;
  color: var(--color-text);
  display: inline-flex;
  align-items: center;
}
.container .hero {
  padding: 100px 0px;
}

section {
  margin-bottom: 50px;
}
section h2 {
  margin-bottom: 20px;
}
section .cards .card {
  width: 100%;
  background-color: var(--color-card-bg);
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 30px;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

.products .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products .cards .card header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.products .cards .card header img {
  height: 30px;
  float: left;
  width: auto;
  margin-right: 15px;
}
.products .cards .card a {
  margin-top: 20px;
  width: fit-content;
  justify-content: flex-end;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}
.products .cards .card a svg path {
  stroke: var(--color-text);
}

.leadership .cards .card figure {
  object-fit: contain;
}
.leadership .cards .card figure img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .hero > p.main {
    font-size: 6vw;
  }
  .hero > p.sub {
    font-size: 2.2rem;
  }
  section .cards {
    display: flex;
    justify-content: space-between;
  }
  .products .cards .card {
    width: 49%;
  }
  .leadership .cards .card {
    width: 32%;
  }
}